<table class="table table-responsive table-condensed" align="center">
<tr>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >INFY RETAIL</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >MUSIC RECOMMENDATION ENGINE</button>
<p class="well well-lg">A web application in which we recommend songs and other users to a client from a
large database based on certain factors (such as loudness and tempo of a song). The
recommendation will also change dynamically on the basis of user’s interests.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
<tr>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >MUSIC RECOMMENDATION ENGINE</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >FOOD IMAGE RECOGNITION</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
</tr>
<tr>
<td>

<button class="btn btn-lg btn-primary" ng-click="showProject()" >KNOW YOUR LEADERS</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>

</td>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >DATA DICTIONARY</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
</tr>
<tr>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >TOURS AND TRAVELS</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
<td><button class="btn btn-lg btn-primary" ng-click="showProject()" >MUSIC PLAYER</button>
<p class="well well-lg">A single page web application to extract the top ten customers of the Infy Retail
application using filters such as date range and amount spent. Customers could also
be upgraded/downgraded by admin based on their profile.
Technologies used : AngularJS, Java, AJAX, Hibernate, Bootstrap</p>
</td>
</tr>

</table>
