<div class="col-md-4 col-md-offset-2">
 	<div ng-repeat="project in data.left">
 			<button class="btn btn-lg btn-primary"
				ng-click="showProject(project.id)">{{project.name}}</button>
			<p id = "{{project.id}}"class="well well-lg">{{project.descr}}<br>Technologies used :
				{{project.stack}}</p>
			
 </div> 
 </div>
 
 <div class="col-md-4 ">
 	<div ng-repeat="project in data.right">
 			<button class="btn btn-lg btn-primary"
				ng-click="showProject(project.id)">{{project.name}}</button>
			<p id="{{project.id}}" class="well well-lg">{{project.descr}}<br> Technologies used :
				{{project.stack}}</p>
			
 </div> 
 </div>
<div class="col-md-2"></div>
<hr/>
<div id="footer"></div>
